<h1><%= t(:"bookmarks.index_title") %></h1>

<%- if current_user.blank? -%>
  
  <h2><%= t(:user_required_for_x, :what => t(:"bookmarks.label")) %></h2>
  
<%- elsif @bookmarks.blank? -%>
  
  <h2><%= t(:"bookmarks.no_items") %></h2>
  
<%- else -%>


  <% sidebar_items << capture do %>	  
	  <h3><%= t(:"bookmarks.search_title") %></h3>
	  <% form_tag bookmarks_path, :method=>:get do %>
	    <%= text_field_tag 'q', params[:q] %>
      <%= submit_tag t(:"bookmarks.search.submit"), :name=>:a %>
		<% end %>
	
		<h3><%= t(:"bookmarks.tags_title") %></h3>
	
		<% @tags=current_user.bookmarks.tag_counts %>
	
		<% tag_cloud @tags, %w(tagCloud1 tagCloud2 tagCloud3 tagCloud4) do |tag, css_class| %>
			<%= link_to h(tag.name), "#{collection_path}?tag=#{h(tag.name)}", :class=>css_class %>
		<% end %>
	
	<% end %>
	<% # END OF SIDEBAR CAPTURE -%>
  
	<% if params[:tag] %>
	  <%= t(:"bookmarks.tags.showing_items_tagged_x", :tag => h(params[:tag])) %>
          <%= t(:show_x, :what => link_to(t(:all), bookmarks_path)) %>
	<% end %>

	<%= will_paginate(@bookmarks) %>

	<div id="userBookmarks">
  	<p>
      <%= link_to(t(:"bookmarks.clear"), clear_bookmarks_path, :method => :delete, :confirm => t(:"bookmarks.clear_confirm")) %>
    </p>
  
    <h2><%= t(:"bookmarks.your_items") %></h2>
  
    <table class="zebra">
      <% @bookmarks.each do |bm| %>
    		<tr>
    		  <td><%= link_to h(bm.title), catalog_path(bm.document_id) %></td>
    			<td><%= link_to t(:"bookmarks.edit"), edit_bookmark_path(bm) %></td>
    			<td><%= link_to t(:"bookmarks.destroy"), bookmark_path(bm), :method => :delete, :confirm => t(:"bookmarks.destroy_confirm") %></td>
    		</tr>
    	<% end %>
  	</table>
	</div>
<% end %>
