<h1><%= t(:bookmarks_title) %></h1>

<%- if current_user.blank? -%>
  
  <h2><%= t(:user_required, :what => t(:bookmarks)) %></h2>
  
<%- elsif @bookmarks.blank? -%>
  
  <h2><%= t(:no_bookmarks) %></h2>
  
<%- else -%>


  <% sidebar_items << capture do %>	  
	  <h3><%= t(:search_bookmarks) %></h3>
	  <% form_tag bookmarks_path, :method=>:get do %>
	    <%= text_field_tag 'q', params[:q] %>
      <%= submit_tag t(:bookmark_search_submit), :name=>:a %>
		<% end %>
	
		<h3><%= t(:bookmark_tags) %></h3>
	
		<% @tags=current_user.bookmarks.tag_counts %>
	
		<% tag_cloud @tags, %w(tagCloud1 tagCloud2 tagCloud3 tagCloud4) do |tag, css_class| %>
			<%= link_to h(tag.name), "#{collection_path}?tag=#{h(tag.name)}", :class=>css_class %>
		<% end %>
	
	<% end %>
	<% # END OF SIDEBAR CAPTURE -%>
  
	<% if params[:tag] %>
	  <%= t(:showing_items_tagged, :tag => h(params[:tag])) %>
          <%= t(:show, :what => link_to(t(:all), bookmarks_path)) %>
	<% end %>

	<%= will_paginate(@bookmarks) %>

	<div id="userBookmarks">
  	<p>
      <%= link_to(t(:clear_bookmarks), clear_bookmarks_path, :method => :delete, :confirm => t(:clear_bookmarks_confirm)) %>
    </p>
  
    <h2><%= t(:your_bookmarks) %></h2>
  
    <table class="zebra">
      <% @bookmarks.each do |bm| %>
    		<tr>
    		  <td><%= link_to h(bm.title), catalog_path(bm.document_id) %></td>
    			<td><%= link_to t(:edit_bookmark), edit_bookmark_path(bm) %></td>
    			<td><%= link_to t(:remove_bookmark), bookmark_path(bm), :method => :delete, :confirm => t(:remove_bookmark_confirm, :count => 1) %></td>
    		</tr>
    	<% end %>
  	</table>
	</div>
<% end %>
