<div class="lightboxTitle">
  <div class="lightboxBack">
    <%= link_to t(:close), catalog_path(@document[:id]), {:class => "lightboxLink", :name => 'citation'} %>
  </div>
  <%= document_show_html_title %>
</div>


<% unless @document.marc.to_mla.blank? %>
  <h4><%= t(:citation_mla) %></h4>
  <%= @document.marc.to_mla %><br/><br/>
<% end %>

<% unless @document.marc.to_apa.blank? %>
  <h4><%= t(:citation_apa) %></h4>
  <%= @document.marc.to_apa %>
<% end %>
