<div id="appliedParams">

	<h3><%= t(:constraints_title)<%= image_tag "magnifying_glass.gif", :alt=>t(:constraints_icon_alt), :plugin=>'blacklight' %></h3>

	<span id="appliedQueries">
		<% if ! localized_params[:q].blank? %>
			<span class="appliedFilter">
				<span class="first">
					<span class="queryName"><%= search_field_label(localized_params) %></span>
					<span><%= h(localized_params[:q]) %></span>
				</span>
				<%= link_to('',
					catalog_index_path(localized_params.merge(:q=>nil, :action=>'index')),
					:class=>'btnRemove imgReplace',
          :alt=>t(:constraints_remove)
				) %>
				<%= image_tag "checkmark.gif", :alt=>t(:constraints_checkmark_alt), :plugin=>'blacklight' %>
			</span>
		<% else %>
			<span class="appliedFilter"><span class="first"><span><%= t(:constraints_no_keywords) %></span> </span></span>
		<% end %>
	</span>

	<% if localized_params[:f] %>
		<span id="appliedFilters">
			<span id = "appliedFiltersList">
				<% localized_params[:f].each_pair do |facet,values| %>
					<% values.each do |v| %>
						<span class="appliedFilter">
							<span class="first">
								<span>
									<span class="filterName"><%= h facet_field_labels[facet] %></span>
									<span class="filterValue"><%= v %></span>
								</span>
							</span>
							<%= link_to(
								'',
								catalog_index_path(remove_facet_params(facet, v, localized_params)),
								:class=>'btnRemove imgReplace',
                :alt=> t(:constraints_remove)
							) %>
							<%= image_tag "checkmark.gif", :alt=>t(:constraints_checkmark_alt), :plugin=>'blacklight' %>
						</span>
					<% end %>
				<% end %>
			</span>
		</span>
	<% end %>
	
	<div>
		<% if params[:action] == 'index' %>
			<%= page_entries_info @response.docs, :entry_name=>'item' %>
		<% else %>
			<%= t(:items_from_your_search, :counter => session[:search][:counter].to_i, :total => format_num(session[:search][:total])) %>	
		<% end %>
		<%=link_to t(:start_over), catalog_index_path, :id=>"startOverLink" %>
	</div>
	
</div>
