<div id="search">

<script>
status = 0;
index = 0;
num_queries = 0;
originalQuery = "";
//This function moves the highlighting of search possibilities because of keyboard input
function move(direction) {
level = index;
//If we hid the table and there are results, unhide the table
	if(status == 0 && num_queries > 0) {
		$("#autotable").show();
		status = 1;
	}
//If keyup, then then we should go down
	if(direction == 40 && index < num_queries) {
		level = index + 1;
	}
//If keydown, then we should go up
	else if(direction == 38 && index > 0) {
			if(index >= 1) {
				level = index - 1;
			}
	}
	$(".autoitemRow").css("background-color", "white");
	newQueryRow = $("[level="+level + "]");
	newQueryRow.parent().parent().css("background-color", "#D5E2FF");
//If we go up and we arrive where we started, remove table and return search box to state before keyboard navigation
	if(level == 0) {
		updateSearchBox(originalQuery, 3);
		index = 0;
	}
	else {
		updateSearchBox(newQueryRow.html(), 1);
	}
	index = level;
}
function updateAutoBox() {
index = 0;
originalQuery = $("#q").val();
num_queries = 0;
if(originalQuery != "") {
status = 1;
queryString = "/catalog/opensearch.json?q=" + originalQuery;
$.ajax({ url: queryString, dataType: 'json', async: false, success: function(data) {
	searchTable = "<table id='autotable' style='background: white;z-index:1200;border-width:1;border-style:inset;border-color:black;position:absolute;white-space: nowrap;cursor:pointer;position:relative;'>";
	$.each(data[1], function(i, item) {
		searchTable = searchTable + "<tr class='autoitemRow'><td><span class='autoitem' class='autoitem' onClick='updateSearchBox(this, 0);' value='" + item + "' level='" + (i+1) + "'>" + item + "</span></tr></td>";
num_queries = i + 1;
	})
	searchTable = searchTable + "</table>";
	$("#autocomplete").html(searchTable);
//Add mouseover coloring
	$('.autoitemRow').mouseover(function() {
	$(".autoitemRow").css("background-color", "white");
	index = parseInt($(this).children("td").children("span").attr("level"));
	$(this).css("background-color", "#D5E2FF");
})
	$('.autoitemRow').mouseout(function() {
	$(this).css("background-color", "white");
})

}});
}
else {
	status = 0;
	$("#autotable").hide();
}
}
//Hide table if click outside search area
                        $(document).bind('click', function(e){ 
                                var $clicked = $(e.target); 
                                if (!($clicked.is('#autotable') || $clicked.parents().is 
('#autotable'))) { 
                                       $("#autotable").hide();
					status = 0;
                                } 
                        }); 
//Mode 0=user click, Mode 3 is returning to user input after keyboard nav, at the moment there is no mode 2....
function updateSearchBox(update, mode) {
q = document.getElementById("q");
	if(mode == 0) {
		$("#q").val($(update).html());
		$("#search_form").trigger("submit");
	}
	else {
		$("#q").val(update);
	}
if(mode != 1) {
	$("#autotable").hide();
	status = 0;
	//Make sure cursor in correct location
	$("#q").focus();
		    if (q.setSelectionRange)
		    {
		        var len = $("#q").val().length;
		        q.setSelectionRange(len, len);
		    }
		    else
		    {
		        $("#q").val($("#q").val());
		    }
	}

}
$(document).ready(function(){

$("#q").keyup(function(e) {
var code = (e.keyCode ? e.keyCode : e.which);
if(code == 38 || code == 40) {
move(code);
}
else if(code == 13) {
	//Not necessary at the moment
	//$("#search_form").trigger("submit");
}
else {
updateAutoBox();
}
});

})

</script>
  <% form_tag catalog_index_path, :method => :get, :id => "search_form" do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, params[:q],  :autocomplete => "off" %>
    <%= label_tag(:search_field, " in ") %>
    <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options") %>
    <%= hidden_field_tag(:per_page, params[:per_page] ? params[:per_page] : "10", :id => 'hidden_per_page') %>

    <%= render :partial => 'catalog/hidden_filters' %>
    
    <%= submit_tag 'search', :class=>'submit' %>
  <% end %>
<div id="autocomplete" style="width:200px;"></div>
  <hr/>
</div>
