<div id="search">

<script>
function updateAutoBox() {
queryString = "/catalog/opensearch.json?q=" + $("#q").val();
$.getJSON(queryString, function(data) {
	searchTable = "<table id='autotable' style='background: white;z-index:1200;border-width:1;border-style:inset;border-color:black;position:absolute;white-space: nowrap;cursor:pointer'>";
	$.each(data[1], function(i, item) {
		searchTable = searchTable + "<tr><td><span class='autoitem' onClick='updateSearchBox(this);' value='" + item + "'>" + item + "</span></tr></td>";
	})
	searchTable = searchTable + "</table>";
	$("#autocomplete").html(searchTable);
});
}
                        $(document).bind('click', function(e){ 
                                var $clicked = $(e.target); 
                                if (!($clicked.is('#autotable') || $clicked.parents().is 
('#autotable'))) { 
                                       $("#autotable").hide();
                                } 
                        }); 
function updateSearchBox(obj) {
q = document.getElementById("q");
$("#q").val($(obj).html());
$("#autotable").hide();
//updateAutoBox();
$("#q").focus();
            if (q.setSelectionRange)
            {
                var len = $("#q").val().length;
                q.setSelectionRange(len, len);
            }
            else
            {
                $("#q").val($("#q").val());
            }
}
$(document).ready(function(){

$("#q").keyup(function(e) {
updateAutoBox();
});
})

</script>
  <% form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, params[:q],  :autocomplete => "off" %>
    <%= label_tag(:search_field, " in ") %>
    <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options") %>
    <%= hidden_field_tag(:per_page, params[:per_page] ? params[:per_page] : "10", :id => 'hidden_per_page') %>

    <%= render :partial => 'catalog/hidden_filters' %>
    
    <%= submit_tag 'search', :class=>'submit' %>
  <% end %>
<div id="autocomplete" style="width:200px;"></div>
  <hr/>
</div>
