<% if @document.marc %>
  <ul class="tools">
    <li>
       <%= link_to t(:cite_this), citation_catalog_path(@document[:id]), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'} %>
    </li>
    <li>
      <%= link_to t(:export_refworks), "http://www.refworks.com/express/expressimport.asp?vendor=#{application_name}&filter=MARC%20Format&encoding=65001&url=#{catalog_path(@document[:id], :format => 'refworks', :only_path => false)}" %>
    </li>
    <li>
      <%= link_to t(:export_endnote), catalog_path(@document[:id], :format => 'endnote') %>
    </li>
    <li>
       <%= link_to t(:email_this), email_catalog_path(@document[:id]), {:id => 'emailLink', :name => 'email', :class => 'lightboxLink'} %>
    </li>
    <li>
       <%= link_to t(:sms_this), sms_catalog_path(@document[:id]), {:id => 'smsLink', :name => 'sms', :class => 'lightboxLink'} %>
    </li>
    <li>
	  <%= link_to t(:marc_view), catalog_path(@document[:id]) << "#", {:id => 'librarianLink', :name => 'librarian_view', :class => 'lightboxLink'} %>
	</li>
  </ul>
<% end %>
