<% carriers = 
{
t(:"catalog.sms.select_carrier") => '',
'AT&T' => 'att',
'Verizon' => 'verizon',
'T Mobile' => 'tmobile',
'Sprint' => 'sprint',
'Nextel' => 'nextel',
'Virgin Mobile' => 'vmobile',
'Alltel' => 'alltel',
'Cricket' => 'cricket'
}
%>
<h1><%= t(:"catalog.sms_title") %></h1>
<% form_tag url_for(:action => 'send_email_record', :style => 'sms'), :id => 'sms_form', :method => :post do %>
  <%= label_tag(:to, t(:"catalog.sms.to")) %><br/>
  <%= text_field_tag :to %><br/>
  <%= label_tag(:carrier, t(:"catalog.sms.carrier")) %><br/>
  <%= select_tag(:carrier, options_for_select(carriers, '')) %><br/>
  <%= submit_tag t(:"catalog.sms.submit") %>
<% end %>
