<div id="sortAndPerPage">
	
	<% form_tag catalog_index_path, :method=>:get, :class=>'per_page' do %>
		<%= label_tag(:per_page, t(:"catalog.results.per_page", :number => select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), :title => t(:"catalog.results.per_page_title"), :onchange => 'this.form.submit()'))) %>

    <%= search_as_hidden_fields(:omit_keys => [:page, :per_page]) %>
		
    <noscript><%= submit_tag t(:"catalog.results.per_page_submit") %></noscript>
	<% end %>

	<h2 id="results_label"><%= t(:"catalog.results.sort_label") %></h2>

	<% unless @response.response['numFound'] < 2 %>
		<% form_tag catalog_index_path, :method=>:get, :class=>'sort', :id => "sort_form" do %>
			<%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort])), :onchange => 'this.form.submit()') %>
			      
      <%= search_as_hidden_fields(:omit_keys => [:page, :sort]) %>
      
			<noscript><%= submit_tag t(:"catalog.results.sort_submit") %></noscript>
		<% end %>
	<% end %>

</div>
