<h1><%= t(:feedback_title) %></h1>

<% unless @errors.empty? %>
  <strong><%= t(:form_errors) %></strong>
  <ul class="errors">
  <% @errors.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<% form_tag do %>
  <fieldset>
    <div class="row"><%= label_tag t(:feedback_name) %> <%= text_field_tag :name, params[:name] %></div>
    <div class="row"><%= label_tag t(:feedback_email) %> <%= text_field_tag :email, params[:email] %></div>
    <div class="row"><%= label_tag t(:feedback_message) %> <%= text_area_tag :message, params[:message] %></div>
    <%#= show_simple_captcha(:image_style => 'random', :label => "Enter the characters you see into the text field") %>
    <div class="row"><%= label_tag '' %><%= submit_tag t(:feedback_submit) %></div>
  </fieldset>
<% end %>
